<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Page d'administration des assurances</h4>
                        <p class="card-category"> ......</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <br>    <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Extract Request (CSV)/(ALL)</button>
                            
                            <br><br>
                            
                            <form class="form-inline justify-content-end">

<input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Réf. BS" aria-label="Recherche">
<button class="btn btn-outline-primary btn-sm my-2 my-sm-0 mr-sm-2" type="submit">Réf. BS</button>
                                <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                                <button class="btn btn-outline-primary btn-sm my-2 my-sm-0" type="submit">Rechercher</button><br>
                            </form>
                            
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        BS Ref 
                                    </th>
                                    <th>
                                        Date of treatment
                                    </th>
                                    <th>
                                        Patient's Names
                                    </th>
                                    <th>
                                        Comment
                                    </th>
                                    <th>
                                        Treatment Amount
                                    </th>
                                    <th>
                                       Claim
                                  </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>01/02/2024</td>
                                        <td>
                                          Patient 1
                                        </td>
                                      
                                        <td>
                                          
                                      </td>
                                        <td class="text-secondary">
                                          
                                      </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-primary">Claim</button>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                          01/02/2024
                                        </td>                                      
                                          <td class="text-secondary">
                                          patient 2
                                      </td>
                                        <td>
                                          
                                      </td>
                                        <td class="text-primary">
                                         
                                      </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-primary">Claim</button>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                          01/02/2024   
  
                                          <td>
                                         patient 3
                                      </td>
                                        <td>
                                          
                                      </td>
                                        <td class="text-primary">
                                          
                                      </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-primary">Claim</button>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                          01/02/2024   
                                        </td>                                  
                                           <td>
                                          patient 4
                                      </td>
                                        <td>
                                          
                                      </td>
                                        <td class="text-primary">
                                          
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-primary">Claim</button>
                                    </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                          01/02/2024     </td>                                 
                                          <td>
                                          patient 5
                                      </td>
                                        <td>
                                          
                                      </td>
                                        <td class="text-primary">
                                         
                                      </td>
                                      <td class="text-primary">
                                        <button type="button" class="btn btn-outline-primary">Claim</button>
                                    </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
  
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  