<div class="form-section">
  <form action="traitement_formulaire.php" method="post">
      <br><br><br>

      <div>
          <label for="marque">Marque</label>
          <input type="text" id="marque" name="marque" required>
      </div>
      <div>
          <label for="refBS">Réf BS *</label>
          <input type="text" id="refBS" name="refBS" required>
      </div>
      <div>
          <label for="nomAdherent">Nom/Prénom de l'Adhérent *</label>
          <input type="text" id="nomAdherent" name="nomAdherent" required>
      </div>
      <div>
          <label for="prenomMalade">Prénom du Malade *</label>
          <input type="text" id="prenomMalade" name="prenomMalade" required>
      </div>
      <div>
          <label for="dateSoins">Date des Soins *</label>
          <input type="date" id="dateSoins" name="dateSoins" required>
      </div>
      <div>
          <label for="honoraires">Honoraires</label>
          <input type="text" id="honoraires" name="honoraires">
      </div>
      <div>
          <label for="pharmacie">Pharmacie</label>
          <input type="text" id="pharmacie" name="pharmacie">
      </div>
      <div>
          <label for="analyse">Analyse</label>
          <input type="text" id="analyse" name="analyse">
      </div>
      <div>
          <label for="radioEchoScanner">Radio/Echo/Scanner</label>
          <input type="text" id="radioEchoScanner" name="radioEchoScanner">
      </div>
      <div>
          <label for="materniteFraisClinique">Maternité/Frais Clinique</label>
          <input type="text" id="materniteFraisClinique" name="materniteFraisClinique">
      </div>
      <div>
          <label for="chirurgie">Chirurgie</label>
          <input type="text" id="chirurgie" name="chirurgie">
      </div>
      <div>
          <label for="inject">Inject.</label>
          <input type="text" id="inject" name="inject">
      </div>
      <div>
          <label for="dent">Dent.</label>
          <input type="text" id="dent" name="dent">
      </div>
      <div>
          <label for="monture">Monture</label>
          <input type="text" id="monture" name="monture">
      </div>
      <div>
          <label for="total">Total</label>
          <input type="text" id="total" name="total">
      </div>
      <div>
          <button type="submit">Envoyer</button>
          &nbsp;&nbsp;&nbsp;
          <button type="button">Annuler</button>
      </div>
  </form>
</div>
