<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-primary">
                      <h4 class="card-title ">My Insurance Files</h4>
                      
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      BS Ref 
                                  </th>
                                  <th>
                                      Date of treatment
                                  </th>
                                  <th>
                                      Patient's Names
                                  </th>
                                  <th>
                                      Comment
                                  </th>
                                  <th>
                                      Treatment Amount
                                  </th>
                                  <th>
                                     Claim
                                </th>
                                <th>
                                  Edit
                             </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>01/02/2024</td>
                                      <td>
                                        Patient 1
                                      </td>
                                    
                                      <td>
                                        
                                    </td>
                                      <td class="text-secondary">
                                        
                                    </td>
                                    <td class="text-primary">
                                      <button type="button" class="btn btn-outline-primary">Claim</button>
                                  </td>
                                  <td class="text-primary">
    <a [routerLink]="'/modif'" class="btn btn-outline-secondary">Modifier</a>
</td>

                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                        01/02/2024
                                      </td>                                      
                                        <td class="text-secondary">
                                        patient 2
                                    </td>
                                      <td>
                                        
                                    </td>
                                      <td class="text-primary">
                                       
                                    </td>
                                    <td class="text-primary">
                                      <button type="button" class="btn btn-outline-primary">Claim</button>
                                  </td>
                                  <td class="text-primary">
    <a [routerLink]="'/modif'" class="btn btn-outline-secondary">Modifier</a>
</td>

                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                        01/02/2024   

                                        <td>
                                       patient 3
                                    </td>
                                      <td>
                                        
                                    </td>
                                      <td class="text-primary">
                                        
                                    </td>
                                    <td class="text-primary">
                                      <button type="button" class="btn btn-outline-primary">Claim</button>
                                  </td>
                                  <td class="text-primary">
    <a [routerLink]="'/modif'" class="btn btn-outline-secondary">Modifier</a>
</td>

                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                        01/02/2024   
                                      </td>                                  
                                         <td>
                                        patient 4
                                    </td>
                                      <td>
                                        
                                    </td>
                                      <td class="text-primary">
                                        
                                    <td class="text-primary">
                                      <button type="button" class="btn btn-outline-primary">Claim</button>
                                  </td>
                                  <td class="text-primary">
    <a [routerLink]="'/modif'" class="btn btn-outline-secondary">Modifier</a>
</td>

                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                        01/02/2024     </td>                                 
                                        <td>
                                        patient 5
                                    </td>
                                      <td>
                                        
                                    </td>
                                      <td class="text-primary">
                                       
                                    </td>
                                    <td class="text-primary">
                                      <button type="button" class="btn btn-outline-primary">Claim</button>
                                  </td>
                                  <td class="text-primary">
    <a [routerLink]="'/modif'" class="btn btn-outline-secondary">Modifier</a>
</td>

                                  </tr>
                                  
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>